*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #396EB0;
}
.main{
  width: 100%;
  
  margin: auto;
  display: flex;
  justify-content: center;
 
  
}
.con{
  width: 80%;
  height: 90vh;
  margin: auto;
  
}
.con h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: aliceblue;
}
.con h1 span{
  color: #FC997C;
}
.inp{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;


}
.inp input{
  height: 50px;
  width: 50%;
  padding: 20px;
  background-color: aliceblue;
  border: none;
  font-size: 16px;
 
  -webkit-appearance: none
}
.inp input:hover{
   background-color: rgb(212, 221, 230);
}

.inp input:focus {outline:none!important;}
.oicon{
  height: 50px;
  padding: 50px;
  padding: 10px;
  background-color: rgb(212, 221, 230);

  cursor: pointer;
}
.oicon:hover{
  background-color: aliceblue;
}
.para{
  height: 50px;
  width: 50%;
  padding: 20px;
  background-color: aliceblue;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn button{
  padding: 10px;
  border: none;
  background-color: #FC997C;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.btn button:hover{
  background-color: aliceblue;
}
@media (max-width: 768px){
  .inp input{
    width: 80%;
  }
  .para{
    width: 80%;
  }
}